{% extends 'base.html'%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title%}
    <title>Производитель удален </title>
    {% endblock %}
</head>
<body>
    {% block body %}
    {{ super() }}
    <p> Производитель успешно удален  вернуться на <a href="{{ url_for('manufacturers')}}">главную</a> страницу </p>
    {%endblock%}
</body>
</html>