{% extends 'base.html'%}

{% block title%}
<title>Список Производителей</title>
<link rel="stylesheet" href="static/css/incss.css" />
{% endblock %}

{% block body %}
{{ super() }}
<h2>Список Производителей</h2>
<hr>
<ul class="list-posts">
  {% for p in klient %}
  <li>
    <p class="title"><a class="slk" href="{{url_for ('ShowManufacturers',alias=p.manufacturer_id)}}">{{p.name}}</a></p>

  </li>
  {% endfor %}
</ul>
<hr>
<button onclick="window.location.href = '/manufacturers_add';" class="btn btn-success">Добавить производителя</button>

{% endblock%}