{% extends 'base.html'%}
{% block title%}
<title>Список Продуктов</title>
<link rel="stylesheet" href="static/css/incss.css" />
{% endblock %}

{% block body %}
{{ super() }}
<h2>Список Продуктов</h2>
<hr>
<ul class="list-posts">
  {% for p in klient %}
  <li>
    <p class="title"><a class="slk" href="{{url_for ('ShowProduct',alias=p.product_id)}}">{{p.name}}</a></p>

  </li>
  {% endfor %}
</ul>
<hr>
<button onclick="window.location.href = '/product_add';" class="btn btn-success">Добавить продукт</button>

{% endblock%}