{% extends 'base.html' %}

{% block title%}
<title>Добавление клиента</title>
{% endblock %}

{% block body %}
{{ super() }}
<h1>Добавление клиента</h1>
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}


<form name="myForm" action="{{ url_for('addReviews') }}" method="post" class="form-contact">
    <p><label>ID продукта:</label><input type="text" name="name" value="" required></p>
     <p><label>ID клиента:</label><input type="text" name="email" value="" required></p>
    <p><label>Оценка:</label><input type="text" name="rat" value="" required></p>
     <p><label>Комментарий:</label><input type="text" name="com" value="" required></p>
    <p><input type="submit" class="btn btn-danger"  value="Добавить"></p>

</form>




<script>
var languagesSelect = myForm.language;

function changeOption(){

    var selection = document.getElementById("info");
    var selectedOption = languagesSelect.options[languagesSelect.selectedIndex];
    selection.textContent =  selectedOption.text;
}

languagesSelect.addEventListener("change", changeOption);
</script>


{% endblock%}